{{define "head"}}
<link rel="stylesheet" type="text/css" href="css/index.css">
<script>
    var colors = ['transparent', '#ffc400', '#1BBC9B', '#1de9b6', '#3f51b5', '#6d4c41'];
</script>
{{end}}

{{define "footer"}}
<script>
    var toggled = false;
    function showSpeaker(event, data) {
        event.stopPropagation();
        event.cancelBubble = true;
        var speak = document.getElementById('section3');
        var m = document.createElement('div');
        m.setAttribute('id', 'm_speaker');
        m.setAttribute('onclick', 'hideSpeaker()');
        setTimeout(() => {toggled = true;}, 700);
        m.innerHTML = data;
        speak.appendChild(m);
        fullpage_api.setAllowScrolling(false);
        fullpage_api.setKeyboardScrolling(false);
    }
    function hideSpeaker(event) {
        if(toggled) {
            fullpage_api.setAllowScrolling(true);
            fullpage_api.setKeyboardScrolling(true);
            var current = document.getElementById('m_speaker');
            current.remove();
            toggled = false;
        }
    }
</script>
{{end}}

{{define "fullpage"}}
    <div class="section" id="section0">
        <div class="homelogo">
            <img src="img/logo.svg"/>
        </div>
    </div>
    <div class="section center" id="section1">
        <div class="Main container">
            {{template "Main"}}
        </div>
    </div>
    <div class="section center" id="section2">
        <div class="container schedule">
            {{template "Schedule" .Schedule}}
        </div>
    </div>
    <div class="section" id="section3">
        <div class="container">
            {{template "Speakers" .Speakers}}
        </div>
    </div>
    <div class="section center" id="section4">
        <div class="container">
            {{template "Partners" .Partners}}
        </div>
    </div>
    <div class="section fp-auto-height" id="section5">
        <div class="container">
            {{template "Info"}}
        </div>
    </div>
{{end}}

{{define "menu"}}
    <a onclick="fullpage_api.moveSectionDown()"><img alt="Go next slide" src="icon/down.svg"></a>
    <a onclick="fullpage_api.moveTo(2)"><img alt="" src="icon/schedule.svg"><span>Подробнее</span></a>
    <a onclick="fullpage_api.moveTo(4)"><img alt="" src="icon/speaker.svg"><span>Спикеры</span></a>
    <a onclick="fullpage_api.moveTo(5)"><img alt="" src="icon/partner.svg"><span>Партнеры</span></a>
{{end}}

{{define "Main"}}
<section class="main">
    <h1>Что?</h1>
    <p>Всероссийская онлайн-конференция Студенческого<br> совета МГУ с международным участием<br> о разрушении популярных экологических мифов.</p>
    <p>Просвещайтесь с нами!</p>
    <p>Когда? 25-26 сентября 2021</p>
    <b>Где?</b>
    <a class="btn btn-white btn-icon" href="https://vk.com/ecology.restarting">
        <img class="icon" alt="" src="icon/vk.svg">
        ВКонтакте
    </a>
    <p>
        Запись трансляций доступна по ссылкам:
        <br>
        <a class="btn btn-white" href="https://www.youtube.com/watch?v=GDbHJAYcFwo">День 1</a>
        <a class="btn btn-white" href="https://www.youtube.com/watch?v=t_011GGSD3E">День 2</a>
    </p>
    <hr>
    <p>
        Также можете посмотреть наши предыдущие конференции:
        <br>
        <a href="https://ecoguildtalks.ru/">EcoGuild Talks (август 2020)</a>
        <br>
        <a href="https://ecoandthecity.ru/">Eco and the City (март 2021)</a>
    </p>
</section>
{{end}}

{{define "Card"}}
{{end}}

{{define "Schedule"}}
<div class="day card red">
    <h3>Суббота, 25.09</h3>
    <table class="card">
        <tr>
            <th>Время начала</th>
            <th>Спикер</th>
        </tr>
        {{range .Saturday}}
        <tr>
            <td>{{.Time}}</td>
            <td>{{.Speaker}}</td>
        </tr>
        {{end}}
    </table>
</div>
<div class="day card blue">
    <h3>Воскресенье, 26.09</h3>
    <table class="card">
        <tr>
            <th>Время начала</th>
            <th>Спикер</th>
        </tr>
        {{range .Sunday}}
        <tr>
            <td>{{.Time}}</td>
            <td>{{.Speaker}}</td>
        </tr>
        {{end}}
    </table>
</div>
{{end}}

{{define "Info"}}
<div class="info">
    <p>
        <a href="licenses.html">Licenses</a> for used materials
    </p>
    <p>
        Site created by <a href="https://github.com/psydvl" target="_blank">@psydvl</a> 
        for <a href="https://github.com/EcoMSU" target="_blank">@EcoMSU</a>
    </p>
</div>
{{end}}