{{define "head"}}
<script>
    var colors = ['transparent', '#1BBC9B', '#2dc3e8', '#6d4c41', '#ffc400', '#1de9b6', '#3f51b5'];
</script>
{{end}}

{{define "footer"}}
{{end}}

{{define "fullpage"}}
<div class="section" id="section0">
    <div class="card">
        <h1>Licenses | <a class="btn" href="/">Back to main site</a></h1>
    </div>
    <div class="homelogo">
        <img src="img/logo.svg"/>
    </div>
</div>
<div class="section center" id="section1">
    <img src="img/index.jpg" style="max-width: 100%; width: 500px;">
    <p>
        Photo by 
        <a class="btn" href="https://www.pexels.com/@brandon-montrone-230847">Brandon Montrone</a> 
        from <a class="btn" href="https://www.pexels.com/photo/forest-sunrise-view-1179237/">Pexels</a>
    </p>
    <small><a class="btn" href="https://www.pexels.com/license/">License: free to use</a></small>
</div>
<div class="section" id="section2">
    <div class="card">
        <h2>fullPage.js <small>(GPLv3)</small></h2>
        <a class="btn" href="https://alvarotrigo.com/fullPage">Site</a>
        <a class="btn" href="https://github.com/alvarotrigo/fullpage.js">Github</a><br><br>
        <a class="btn" href="https://github.com/alvarotrigo/fullPage.js/blob/cc20f6cb46dd1fdc84599ad82aff5b0412970915/LICENSE">License (version from 23 June 2021 commit)</a>
    </div>
</div>
<div class="section" id="section3">
    <div class="card">
        <h2>Inter font <small>(SIL OPEN FONT LICENSE Version 1.1)</small></h2>
        <a class="btn" href="https://github.com/rsms/inter">Github</a><br><br>
        <a class="btn" href="https://github.com/rsms/inter/blob/0dac20662c34efc40dbf154b6366310cd4dfa551/LICENSE.txt">License (version from 19 June 2021 commit)</a>
    </div>
</div>
<div class="section center" id="section4">
    <h2>Social icons</h2>
    <div><div class="btn btn-white btn-icon"><img class="icon" alt="" src="icon/vk.svg">VKontakte</div> icon logo from <a class="btn btn-white" href="https://vk.com/brand">VK Brand Resources</a></div>
    <br><span>Overwrited using <a class="btn btn-white" href="https://jakearchibald.github.io/svgomg/">SVGOMG</a></span>
</div>
<div class="section center" id="section5">
    <h2>Menu icons</h2>
    <div>Icons made by <a class="btn" href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a class="btn" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <div>Icons made by <a class="btn" href="https://www.flaticon.com/authors/catkuro" title="catkuro">catkuro</a> from <a class="btn" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <br><b>Photo link <a class="btn" href="https://www.flaticon.com/free-icon/man-in-suit-and-tie_3729">https://www.flaticon.com/free-icon/man-in-suit-and-tie_3729</a></b>
    <br><b>Photo link <a class="btn" href="https://www.flaticon.com/free-icon/calendar_833593">https://www.flaticon.com/free-icon/calendar_833593</a></b>
    <br><b>Photo link <a class="btn" href="https://www.flaticon.com/free-icon/business_2329466">https://www.flaticon.com/free-icon/business_2329466</a></b>
    <br><span>Overwrited using <a class="btn" href="https://jakearchibald.github.io/svgomg/">SVGOMG</a></span>
</div>
<div class="section" id="section6">
    <div class="card">
        <h2>Open Sans font <small>(Apache License, Version 2.0)</small></h2>
        <a class="btn" href="https://fonts.google.com/specimen/Open+Sans">Google Fonts</a><br><br>
        <a class="btn" href="https://www.apache.org/licenses/LICENSE-2.0">License</a>
        <p><b>Used in logo</b></p>
        <img src="img/logo.svg" style="height: 100%; max-height: 4rem;">
    </div>
</div>
{{end}}

{{define "menu"}}
    <a onclick="fullpage_api.moveSectionDown()" class="card" style="background-color: #ccc;">
        <img alt="Go next slide" src="icon/down.svg">
    </a>
{{end}}