{{define "Partners"}}
<div class="space"></div>
<div class="card heading">
    <h1>Партнеры</h1>
</div>
<div class="partners">
    {{$prefix := .ImgPrefix}}
    {{range .List}}
    <div class="item">
        <a class="card" href="{{.Url}}" target="_blank">
            <div class="square">
                <div class="logo">
                    <img alt="Логотип партнера {{.Name}}" src="{{$prefix}}{{.Img}}" class="square">
                </div>
            </div>
            <p>{{.Name}}</p>
        </a>
    </div>
    {{end}}
    <div class="space"></div>
</div>
{{end}}